<div *ngIf="finish" class="row justify-content-center">
<div style="font-family: sans-serif;">
    <br>
    <p>Pregunta {{currentQuestion}} de {{totalQuestion}}</p>
    <ng-katex-paragraph [paragraph]="paragraph"></ng-katex-paragraph>

    <!--(ngSubmit)="onSubmit()--><form #answerForm="ngForm">
        <div class="form-group">
            <label for="answer">Respuesta</label>
            <input type="number" class="form-control" [(ngModel)]="answer" placeholder="Ingrese la respuesta" id="answer" name = "answer" required>
        </div>

        <button type="button" class="btn btn-success" (click)="changeQuestion()" disabled="{{btnDisabled}}">{{btnMessage}}</button>
      
    </form>
</div>
</div>

<div *ngIf="!finish" class="row justify-content-center">
<div>
    <p>Tus resultados son los siguientes: </p>
    <br>
    
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    
  </div>
</div>