<div *ngIf="!isLogin" class="row justify-content-center">
    <div class="col-4 "></div>
    <div class="col-4 ">
        <form #loginForm="ngForm" (ngSubmit)="login()"> 
        <h2>Ingresa tus credenciales</h2>
        <br>
        <input type="number" class="form-control" [(ngModel)]="user.idStudent"placeholder="Id estudiante" id="id_student" name="id_student" required>
        <br>
        <input type="number" class="form-control" [(ngModel)]="user.idGroup" placeholder="Id grupo" id="id_group" name="id_group" required>
        <br>
        <span class="row justify-content-center" style="color: red;">
            {{message}}
        </span>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-success">Iniciar examen</button>
        </div>
    </form>
    </div>
    <div class="col-4"></div>
</div>

<div *ngIf="isLogin" class="container">

    <div class="row justify-content-center">
        <div *ngIf="existsExam">
            <p>Hola {{nameStudent}}, estas presentando el {{exam.name}}</p>
        </div>
    </div>
    <div class="row  justify-content-center">
        <p><b>Tiempo restante: </b>{{minutes}}:{{seconds | number: '2.0'}}</p>
    </div>
    <div class="row  justify-content-center">
        <app-question *ngIf="containsTest" [tests]=tests [user]=user></app-question>
    </div>
</div>